<form class="header_search" action="{% url 'search:search' %}" method="get">
    <div>
        <div>
            <label>
                <select name="filter">
                    <option selected value="all">без фильтра</option>
                    <option value="is_active">активированные</option>
                    <option value="not_is_active">не активированные</option>
                    <option value="overdue">просроченные</option>
                    <option value="not_overdue">не просроченные</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                <input type="text"
                       placeholder="поиск..."
                       name="search" value="{{ request.GET.search }}">
            </label>
            <button type="submit">🔎</button>
        </div>
    </div>
</form>
