{% if page_obj != None %}
    <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}"> ◀️ </a>
        {% endif %}

        {% if page_obj != none and page_obj.has_next %}
            <span>
            Страница №{{ page_obj.number }}
        {% elif not page_obj.has_next and page_obj.has_previous %}
            Страница №{{ page_obj.number }}
            </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}"> ▶️ </a>
        {% endif %}
    </span>
    </div>
{% endif %}
