{% extends 'main_app/base.html' %}
{% load static %}
{% load url_replace %}

{% block content %}
    {% for object in object_list %}
        <div><a href="{% url 'main:card' pk=object.card.pk %}">{{ object.card }}</a>
        </div>
    {% endfor %}

    <a href="{% url 'main:card_create' %}">Создать карты</a>

    {% if page_obj != None %}
        <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}"> ◀️ </a>
        {% endif %}

        {% if page_obj != none and page_obj.has_next %}
            <span>
            Страница №{{ page_obj.number }}
        {% elif not page_obj.has_next and page_obj.has_previous %}
            Страница №{{ page_obj.number }}
            </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}"> ▶️ </a>
        {% endif %}
    </span>
        </div>
    {% endif %}

    <form action="{% url 'search:search' %}" method="get">
        <div>
            <label>
                <input type="text"
                       placeholder="поиск..."
                       name="search" value="{{ request.GET.search }}">
            </label>
            <button type="submit">🔎</button>
        </div>

        <p>
            <label>
                <select name="filter">
                    <option selected value="all">без фильтра</option>
                    <option value="is_active">активированные</option>
                    <option value="not_is_active">не активированные</option>
                    <option value="overdue">просроченные</option>
                    <option value="not_overdue">не просроченные</option>
                </select>
            </label>
        </p>
    </form>

{% endblock %}
